<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="index :: head">
<meta charset="utf-8">
</head>
<body>

	<header th:replace="index :: header"></header>

	<div class="py-4 ml-5 mr-5">
		<div class="card bg-light">
			<h1 class="card-header" th:text="${titulo}"></h1>
			<div class="card-body">
				<h4 class="card-title">
					<a th:href="@{/receta/crudcargar}" class="btn btn-primary">Agregar receta</a>
					<a th:href="@{/reportelista}" class="btn btn-success">Lista - PDF</a >
					<a th:href="@{/reporteTipo}" class="btn btn-success">G. Tipo - PDF</a>
					<a th:href="@{/reporteDuracion}" class="btn btn-success">G. Duracion - PDF</a>
				</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Duracion</th>
							<!--<th>Ingredientes</th>
								<th>Instrucciones</th>-->
							<th>Detalles</th>
							<th sec:authorize="hasRole('ADMIN')">Editar</th>
							<th sec:authorize="hasRole('ADMIN')">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="receta : ${recetas}">
							<td th:text="${receta.id_receta}"></td>
							<td th:text="${receta.rec_nombre}"></td>
							<td th:text="${receta.tipo.tip_descripcion}"></td>
							<td th:text="${receta.duracion.dur_descripcion}"></td>
							<!--<td th:text="${receta.rec_ingredientes}"></td>
								<td th:text="${receta.rec_instrucciones}"></td>-->
							<td><a class="btn btn-info btn-sm" th:href="@{/ver/} + ${receta.id_receta}">Detalles</a></td>
							<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-warning btn-sm"
									th:href="@{/receta/crud/} + ${receta.id_receta}">Editar</a></td>
							<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger btn-sm"
									th:href="@{/eliminar/} + ${receta.id_receta}"
									onclick="return confirm('¿Estás seguro de eliminar la receta?');">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>
	</div>

	<footer th:replace="index :: footer"></footer>
</body>
</html>